@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --border: 0 0% 89.8%;
    --secondary: 240 4.8% 95.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 100%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 100%;
    --border: 240 3.7% 25%;
    --secondary: 240 3.7% 15.9%;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* Hide arrows from number inputs */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}
